<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body >
    <div ng-controller='ctrl1' style="text-align: center; max-width:100%" ng-hide='changediv'>
    <div class="title">      
         <h5 >  BUG REPORTING SYSTEM</h5>
        
    </div>
    <div >   
         <img src="../resources/icon-bugtracker_0.png"  class="title-2">
        </div>

 
         <div >
        <form name='f1' class="myform"> 
       <h1>Login</h1>
         

       <br>
            <input class="input" type="text" required placeholder="type username here" ng-model='userid' name='username' ng-change="login(f1.$valid)" ></input>
        <span  ng-if="f1.username.$touched && f1.username.$invalid && f1.username.$error['required']"></span>
        <br>
        <br>
    
      <input class="input" type="password" required placeholder="type password here" type="password" name='pwd' ng-model='password'></input>
       
        <br>
        <br>
      
      
         
       <select ng-model='role' required   size="1" class="input">
      
           <option value="">you are</option> 
        
            <option value="developer">developer</option>
            <option value="tester">tester</option>
           
            
         </select>
      
         <br>
         <br>
           
       <button ng-click='sumbit()' ng-disabled='f1.$invalid' class="btn btn-success mr-2 input"> SIGN IN</button>
        <button class="btn btn-danger register-button " ng-click=register()>Register</button>
       
   
   
       </form>
    </div >
        
       
       </div>

</body>
</html>