<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  
 
  
</head>
</head>

   
<body>
    <div ng-controller='ctrl3' > 
            
        <button ng-click='signout()' class='signout'> signout <i class="fa fa-sign-out"></i></button>
        <br>
       <div ng-show='flag'>
            <button ng-click=change();fetchStatus() class="back-button">back</button>
        <br>
        <br>
    <table style="width: 100%" class="table" >
           <tr>
            <thead class="thead-dark ">
           
            <th style="text-align: center">DESCRIPTION OF ISSUE</th>   
        </thead>
        </tr>
        <tr >
           
          
            
            <td> 
                <form name='f1'> 
                
                <label for="issue">ISSUE </label>
             <p> <div class="form-group">
               <input required type="text" maxlength = "100" class="form-control"  ng-model='issue' name='isu'>
            </div>
        </p>
            <p>
                    <p>DESCRIPTION</p>
              
                    <textarea  cols="90" rows="10" required ng-model='description' ></textarea>
            </p>
            <p>
                    ASSIGN TO <select ng-model='assignTo' required ng-options=" name for name in assignto" >
                            <option value="">Select</option>
                         



                    </select>
            </p>
            <br>
            <br>
            <p>
                
               
                    
                              
                       <input type="file" required ngf-select ng-model="file" 
                       name="file" accept="image/*" ngf-max-size="2MB" name='image'>
                </input>
            
               
              
                      
    
            </p>
            <br>
            
            <br>
           
            <p>
                        Status of Issue 
                        <input list="Severity" type="text" required ng-model='severity' placeholder="select severity" >
                        <datalist  required name='Severity' id='Severity'>
                               <option value="">Select</option>
                                <option value="low"></option>
                               <option value="high"></option>
                               <option value="severe"></option>
                        </datalist>
                    </input>
                    <br>
                    <br>
          
            </p>
            
          
        <p>
           TimeAlloted:-   <input type="number" required style="width:5%" ng-model='timeAlloted' >hrs
        </p>
        <p>
            <br>
            <br>

            <button ng-click="addIssue(file)" ng-disabled=f1.$invalid class="btn btn-danger "> ADD ISSUE</button>
    </p>
</form>           
</td>

  
                     
     
                    
        
        </table>
       </div>
        <div ng-hide='flag' >
                <p  class="assigned">TOTAL ASSIGNED:-<span ng-model='assigned'>{{assigned}}</span></p>
            <button class="sumbitbug"  ng-click='change()'>Sumbit Bug</button>
        <br>
        <br>
        <table class="table table-bordered" >
            <thead class="thead-dark">
            <th>issue</th>
             <th>AllotedTo</th>
             <th>TimeAlloted</th>
             <th>AllotedOn</th>
             <th>Status</th>
           </thead>
         <tr ng-repeat="issues in list">
         
           <td>{{issues.issue|limitTo:100}}</td>
          <td>{{issues.AllotedTo}}</td>
          <td>{{issues.TimeAlloted}}</td>
          <td>Date:-{{issues.AllotedOn|date: 'dd/MM/yyyy'}} Time:-{{issues.AllotedOn|date: 'HH:mm:ss'}}</td>
          <td>{{issues.Status}} </td>
          </tr>


        </table>
       
      </div>
</div>
</body>
</html>